$ctheme: #2ebdb6;

$cgreen: #53aa46;
$cblue: #0083c5;
$cred: #e51751;
$cliblue: #2ebdb6;

$cligray: #575757;
$cdagray: #3c3c3c;

$ctext: #585858;



$debug: true;

@mixin debug-border { border: 1px solid red; }

html, body {
    margin: 0 auto;
    height: 100%;
}




@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
      visibility: hidden;
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    visibility: visible;
  }
}

@-webkit-keyframes fadeInUp  /*Safari and Chrome*/ {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    visibility: hidden;
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    visibility: visible;
  }
}


.fadeInUp {
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}
