@import './common.scss';


.contact {
    width: 75%;
    margin: 20px auto;
    padding: 40px 0;

    .contact_info {
        margin: 0;
        padding: 0;
        margin-bottom: 20px;
        .logo {
            display: block;
            margin: 0;
            padding: 0;
            border: 0;
            margin-bottom: 20px;
        }
        p {
            display: block;
            font-size: 12px;
            font-weight: 400;
            line-height: 140%;
            margin-bottom: 20px;
            font-family: 'Open Sans', sans-serif;
            color: $ctext;
            a {
                color: $ctext;
            }
        }
        a {
            color: $ctheme;
        }
        .trusted {
            display: block;
            margin: 20px 0;
            padding: 0;
            border: 0;
        }
    }
    .about_intro {
        float: left;
        border-left: dashed 1px #d0d0d0;
        padding: 0 0 0 40px;
        p {
            line-height: 150%;
            margin-bottom: 15px;
            font-family: 'Open Sans', sans-serif;
            font-size: 12px;
            font-weight: 400;
            color: $ctext;

            a {
                color: #1B242F;
                text-decoration: none;

                &:hover {color: $ctheme;}
            }
        }
    }
}


.contact_form{

    border-left: dashed 1px #d0d0d0;
    padding: 0 0 0 40px;
    margin: 40px 0;
    margin-top: 0;
    p {
        margin: 0;
        font-size: 24px;
        font-weight: 400;
        line-height: 100%;
        margin-bottom: 15px;
        font-family: 'Open Sans', sans-serif;
        color: #2ebdb6;
    }
    form {
        width: 247px;
        margin-left: 15px;

    }
}

.layout_banner {
    width: 100%;
    height: 280px;
}


.btn-primary {
    display: block;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 1px rgba(0,0,0,.25);
    line-height: 26px;
    width: 100%;
    background: #2ebdb6;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-color: #21a69f;
    &:visited {background: #21a69f;  border-color: #21a69f;}
    &:hover {background: #21a69f;  border-color: #21a69f;}
    &:active {background: #21a69f;  border-color: #21a69f;}
}


.contact_map {
    height: 390px;
    border-left: dashed 1px #d0d0d0;
    padding: 0 0 0 40px;
    margin: 40px 0;
    margin-top: 0;
}
