@import './common.scss';
$c: #c6c6c5;
$c1: #2ebdb6;
$ct: transparent;


.container {
    margin-top: 13px;
}

.header_nav {
    width: 100%;
    height: 78px;
    padding: 0;
    position: fixed;
    z-index: 100;
    background: rgba(28, 28, 28, .5);
    ul{
        margin-left: 160px;
        li {
        }
    }
}

.navbar-inverse .navbar-nav>li>a {
    font-size: 16px;
    font-weight: 300;
    color: $c;
    font-family: $ff;
    font-style: normal;
    &:hover { color: $ctheme; }
    &:active { color: $ctheme; }
}

.logo {
    float: left;
}

.navbar{
    border-radius: 0;
}
.navbar-inverse,
.navbar-collapse {
    border: 0;
}


#basic-nav-dropdown {
    background-color: $ct;
}

.dropdown-menu {
    margin-top: 15px;
    background-color: $ct;
    li {
        a {
            &:hover {background-color: $ct;
                     color: $ctheme;
                    }
        }
    }
}


.navbar-nav {
    li a:first-child {
        position:absolute;
    }
}

.footer {
    width: 100%;
    background-color: $cdagray;

    .footer_top {
        @include limit;
        border-bottom: dashed 1px #d0d0d0;
        .footer_logo {
            a {
                width: 209px;
                height: 84px;
                margin: 0 auto;
                display: block;
                .logo {
                    width: 209px;
                    vertical-align: middle;
                    border: 0;
                }
            }
        }
        .footer_button {
            margin:20px auto;
            
            a {
                @include border_radius;
                width: 210px;
                height: 40px;
                display: block;
                background: #23827d;
                padding: 0 0 4px 0;
                text-decoration: none;
                margin: 0 auto;
                vertical-align: middle;
                span {
                    @include border_radius;
                    display: block;
                    font-size: 13px;
                    font-weight: 700;
                    color: #fff;
                    text-align: center;
                    text-transform: uppercase;
                    text-shadow: 0 1px rgba(0,0,0,.25);
                    line-height: 36px;
                    width: 210px;
                    background: $ctheme;
                    &:hover {  background: #21a69f;}
                }
            }
        }

    }
    .footer_bottom {
        @include limit;
        margin-bottom: 0;

        .footer_wechat {
            margin: 0 auto;
            margin-bottom: 40px;

            .wechat {
                width: 100px;
                margin: 0 auto;
                display: block;
                vertical-align: middle;
            }
        }
        .footer_info {
            margin: 0 auto;
            padding-bottom: 40px;
            width: 190px;

            p {
                display: block;
                font-size: 21px;
                font-weight: 400;
                color: $ctheme;
                line-height: 100%;
                margin-bottom: 6px;
                font-family: $ff;
            }
            span {
                display: block;
                font-size: 12px;
                font-weight: 400;
                color: #c6c6c6;
                line-height: 15px;
                font-family: $ff;
                float:left;

                a {
                    color: #fff;
                    font-family: $ff;
                   span {
                     &:hover {color: $ctheme;}
                   }
                }
            }
        }
        
    }
}



.footer_menu {
    float: right;
    ul {
        display: block;
        float: right;
        li {
            display: block;
            float: left;
            padding: 0 10px;
            border-right: solid 1px #c6c6c6;

            a {
                display: block;
                float: left;
                font-size: 12px;
                color: #c6c6c6;
                font-weight: 400;
                line-height: 14px;
                text-transform: uppercase;
            }
        }
    }

    .copyright {
        display: block;
        float: right;
        clear: both;
        font-size: 12px;
        font-weight: 400;
        color: #c6c6c6;
        line-height: 100%;
        padding: 12px 0 0 0;
    }
    
}

#footer_contact {
    color: $ctheme;
}


#footer_facebook {
    color: $cblue;
}
