@import './common.scss';

.portfolio {
 @include limit;
    padding-bottom: 20px;
    .portfolio_row {
        margin-bottom: 20px;
        .portfolio_single {
            margin:15px 0;
        }
    }
}
